<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover " id="tbl-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Transfer Date</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Approve Amount(฿)</th>
                <th class="text-center">Status</th>
                <th class="text-center">Quota</th>
                <th>Verify Date</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
