<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover " id="tbl-table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Email</th>
                <th>Mobile</th>
                <th class="text-center">Prebook Date</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Status</th>
                <th class="text-center">Quota</th>
                <th>Verify 1</th>
                <th>Verify 2</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ศิริพจน์ เสริมเกียรติสกุล</td>
                <td>Siripoj@assetwise.co.th</td>
                <td>0876724100</td>
                <td>2024-07-12</td>
                <td>6,000</td>
                <td><span class="badge badge-info" style="background-color:deepskyblue;">ชำระเงินแล้ว รอตรวจสอบ</span></td>
                <td>2</td>
                <td>
                    <div>
                        <span class="badge badge-success"><i class="fa fa-check"></i> อนุมัติ</span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i> ไม่ผ่าน</span>
                    </div>
                </td>
                <td>
                    <div>
                        <button data-action="edit-prebook" style="margin-right:5px;" class="btn btn-xs btn-warning" data-id="7a52b2de-ded3-4033-90ed-3d3e3300fde1"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
