
<div class="modal fade" id="modal-prebook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Prebook</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                Customer :
                            </div>
                            <div class="col-md-8 text-primary">
                                ศิริพจน์ เสริมเกียรติสกุล
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Email :
                            </div>
                            <div class="col-md-8 text-primary">
                                siripoj@assetwise.co.th
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5">
                                Mobile :
                            </div>
                            <div class="col-md-7 text-primary">
                                0876724100
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Amount :
                            </div>
                            <div class="col-md-8 text-primary">
                                6,000
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5">
                                Submit Date :
                            </div>
                            <div class="col-md-7 text-primary">
                                2024-07-10 10:30
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Status :
                            </div>
                            <div class="col-md-8">
                                <span style="font-size:small" class="badge badge-warning">กำลังตรวจสอบ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Verify 1 :
                            </div>
                            <div class="col-md-8 text-primary">
                                <select class="form-control">
                                    <option>-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Verify 2 :
                            </div>
                            <div class="col-md-8 text-primary">
                                <select class="form-control">
                                    <option>-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-md-12 table-responsive">
                        <h4>Payment Transaction</h4>
                        <table class="table table-striped" width="100%">
                            <tbody>
                                <tr>
                                    <td valign="middle">2024-07-10 10:30</td>
                                    <td valign="middle">โอนเงิน : 6,000</td>
                                    <td valign="middle"><a href="#" class="btn btn-sm btn-info" target="_blank">File 1</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle">2024-07-10 10:30</td>
                                    <td valign="middle">บัตเครดิต : 6,000</td>
                                    <td valign="middle"><a href="#" class="btn btn-sm btn-info" target="_blank">File 1</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="auto-close btn btn-default" data-dismiss="modal">Close</button>
                <button id="btn-save-payment" type="submit" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>