.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: unset !important;
}

table.dataTable thead .sorting_asc:after {
    content: unset;
}

table.dataTable thead .sorting_desc:after {
    content: unset;
}
table.dataTable thead .sorting:after {
    content: unset;
}