

.box .inputBox, .box .inputBox span {
    position: relative;
}

    .box .inputBox label {
        position: absolute;
        top: 0;
        left: 10px;
        padding: 0.625rem 0;
        /*      font-size: 1rem;*/
        color: #ac9999;
        font-weight: unset;
        pointer-events: none;
        transition: 0.5s;
    }

    .box .inputBox input:focus ~ label,
    .box .inputBox input:valid ~ label,
    .box .inputBox input:not([value=""]) ~ label {
        top: -1.5rem;
        left: 10px;
        color: #1a73e8;
        font-size: 1.2rem;
        background-color: #fff;
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .box .inputBox label {
        top: -1.5rem;
        left: 10px;
        color: #1a73e8;
        font-size: 1.2rem;
        background-color: #fff;
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }


    .box .inputBox input:focus {
        outline: none;
        border: 1px solid #1a73e8;
    }
