@{
    ViewData["Title"] = "Report Booking & Payment";
    ViewBag.Active = "Report";
    Layout = "~/Views/Shared/_LayoutSitePage.cshtml";
}
<link href="~/lib/selectize.js-master/css/selectize.bootstrap4.css" rel="stylesheet" />
<script src="~/lib/selectize.js-master/js/standalone/selectize.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Search
            </div>
            <form id="form-booking-payment-search" method="post" autocomplete="off">
                <div class="panel-body">
                    <partial name="Partial_BookingPayment_Search" />
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <input type="submit" class="btn btn-warning" value="Export excel">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/pages/report.js" asp-append-version="true" type="text/javascript"></script>
    <script type="text/javascript">
        var selectProjectID = '@(ViewBag.SelectProjectID)';
        $(document).ready(function () {
            report.init();
        });
    </script>
}

