
<div class="row">
    <label class="col-lg-2 text-right control-label">Register Date</label>
    <div class="col-lg-3">
        <input id="StartDate" name="StartDate" type="text" class="form-control" value="" />
    </div>
    <label class="col-lg-1 text-center control-label" style="width:40px;">To</label>
    <div class="col-lg-3">
        <input id="EndDate" name="EndDate" type="text" class="form-control" value="" />
    </div>
</div>